/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* Components */

.panel {
  @apply h-80 my-2 mx-2 border-1 border-gray-300 shadow-lg;
}

/* Gaps in the utils */

.h-80 {
  height: 20rem;
}

.border-1 {
  border-width: 1px;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.border-t-1 {
  border-top-width: 1px;
}

/* Grid-related utils */
.grid {
  display: grid;
}

.cols-50-50 {
  grid-template-columns: 50% 50%;
}

.cols-35-65 {
  grid-template-columns: 35% 65%;
}

.justify-items-stretch {
  justify-items: stretch;
}

.justify-self-stretch {
  justify-self: stretch;
}

/* SVG-related utils */
.anchor-middle {
  text-anchor: middle;
}

.fill-none {
  fill: none;
}

.fill-white {
  fill: white;
}

.baseline-hanging {
  dominant-baseline: hanging;
}
