/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* Grid-related utils */
.grid {
  display: grid;
}

.cols-50-50 {
  grid-template-columns: 50% 50%;
}

.cols-40-60 {
  grid-template-columns: 40% 60%;
}

.justify-items-center {
  justify-items: center;
}

/* SVG-related utils */
.anchor-middle {
  text-anchor: middle;
}

.fill-none {
  fill: none;
}

.fill-white {
  fill: white;
}

.baseline-hanging {
  dominant-baseline: hanging;
}
